.bal-pag-con {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bal-pag-content{
    width:30%;
    margin:10px;
}

.check-bal-inp-con{
    display: flex;
    flex-direction: column;
    width:50%;
    margin:15px;
    background-color: #221156;
    border-radius: 20px;
    padding: 30px 20px;
    align-items: center;
}

.custom-button{
    width:420px;
    margin-top: 10px;
}

.name-above-text{
    margin:5px 0px 5px 0px;
}



.bal-text{
    color: #5B8FB9;
    text-align: left;
    font-weight: bold;
}

@media (max-width: 1000px){
    .custom-button{
     width:380px;
    }
 }
 
 @media (max-width: 840px){
    .custom-button{
    width:340px;
   }
 }
 
 @media (max-width: 750px){
    .custom-button{
    width:320px;
   }
 }